html, body{
    font-family: "Poppins", serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.nav-headers > div{
    padding: 0px 10px 0px 10px;
}


.hidden{
    display: none;
}


@media (min-width: 768px) {
    .md-flex {
        display: flex;
    }

    .md-hide {
        display: none;
    }
}
